<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password','none')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div>&nbsp;</div>
		<div class="text-center">
			<h2>Forgot Password</h2>
		</div>
		<div>
			<form th:action="@{/forgot_password}" method="post"
				style="max-width: 450px; margin: 0 auto;">
				<div th:if="${error !=null}"
					class="alert alert-danger text-center">[[${error}]]</div>
					<div th:if="${message !=null}"
					class="alert alert-warning text-center">[[${message}]]</div>
					<div class="border border-secondary rounded p-3">
						<div class="form-group row">
						<div class="col-sm-12">
						<p>We will be sending reset Password link to your email</p>
						</div>
							<div class="col-sm-12">
								<input type="email" name="email" class="form-control" 
								 required="required" placeholder="Enter Your e-Mail" />
							</div>
						</div>
						
						<div class="text-center">
							<input type="submit" value="Send" class="btn btn-primary m-3">
						</div>
					</div>
			</form>
			<div>&nbsp;</div>
		</div>
		<div th:replace="modal_fragments :: modal_dialogs"></div>
		<div th:replace="navigation :: footer_menu"></div>
	</div>
	
</body>
</html>