<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password','none')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div>&nbsp;</div>
		<div class="text-center">
			<h2>Reset Password</h2>
		</div>
		<div>
			<form th:action="@{/reset_password}" method="post"
				style="max-width: 450px; margin: 0 auto;">
					<div class="border border-secondary rounded p-3">
					<input type="hidden" name="token" th:value="${token}">
						<div class="form-group row">
							<div class="col-sm-12">
								<input type="password" name="password" id="password" class="form-control" 
								 minlength="4" maxlength="20" required
								 placeholder="Enter new password" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12">
								<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" 
								 placeholder="Confirm your password"
								 required minlength="4" maxlength="20"
								 oninput="checkPasswordMatch(this)" />
							</div>
						</div>
						
						<div class="text-center">
							<input type="submit" value="change" class="btn btn-primary m-3">
						</div>
					</div>
			</form>
			<div>&nbsp;</div>
		</div>
		<div th:replace="modal_fragments :: modal_dialogs"></div>
		<div th:replace="navigation :: footer_menu"></div>
	</div>
	<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords doesn't match");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
	</script>
</body>
</html>