<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="col border p-2">
				<div>
					<label>Main Image : [[${product.mainImage}]]</label>
				</div>
				<div>
					<img alt="Main Image Preview" class="img-fluid"
						th:src="@{${product.mainImagePath}}" />
				</div>
			</div>
			<th:block th:each="productImage,status : ${product.images}">
				<div class="col border p-2">
					<div>
						<label>Extra Image #[[${status.index +1}]] :
							[[${productImage.name}]]</label>
					</div>
					<div>
						<img th:alt="'Extra Image #'+${status.index}+' Preview'"
							class="img-fluid" th:src="@{${productImage.imagePath}}" />
					</div>
				</div>
			</th:block>
	</div>
</body>
</html>