<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="m-2">
			<label class="col-sm-2 col-form-label">Short Description</label>
			<div class="col-sm-10">
				<textarea class="form-control" th:field="*{shortDescription}" rows="2"></textarea>
			</div>
		</div>	
		
		<div class="m-2">
			<label class="col-sm-2 col-form-label">Full Description</label>
			<div class="col-sm-10">
				<textarea class="form-control" th:field="*{fullDescription}" rows="2"></textarea>
			</div>
		</div>	
	</div>
</body>
</html>